.contacto {
  max-width: 1200px;
  margin: 0 auto;

  &__content {
    &-title {
      font-size: 35px;
      margin-bottom: 30px;
      font-family: "Jost", sans-serif;
      text-align: center;
      color: $colorSecundary;
    }

    .contacto__form {
      margin-bottom: 15px;
      &-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        width: 350px;
        margin: 0 auto;

        input,
        select {
          width: 100%;
          height: 40px;
          margin-bottom: 40px;
          padding: 0 15px;
          font-family: "Jost", sans-serif;
          color: $colorSecundary;
          border-bottom: 1px solid #f9dc2f;
          border-top: none;
          border-right: none;
          border-left: none;
          background-color: transparent;
          text-transform: uppercase;
        }

        input::placeholder {
          text-transform: uppercase;
          font-family: "Jost", sans-serif;
          color: $colorSecundary;
        }

        input,
        select,
        textarea:focus-visible {
          outline: none;
        }

        select option {
          background-color: $colorPrimary;
          color: $colorSecundary;
          text-transform: uppercase;
          font-family: "Jost", sans-serif;
        }
      }

      &-textarea {
        width: 100%;
        height: 150px;
        margin-bottom: 20px;
        background-color: transparent;
        color: $colorSecundary;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #f9dc2f;
        padding: 0 15px;

        &::placeholder {
          text-transform: uppercase;
          font-family: "Jost", sans-serif;
          color: $colorSecundary;
        }
      }

      &-button {
        @include templateFlex(center, false);
        .contacto-btn {
          height: 40px;
          margin-right: 15px;
          width: 155px;
          background-color: #f9dc2f;
          border: none;
        }
      }
    }
  }
}
