.main {
  margin-bottom: 40px;

  &__title {
    text-align: center;
    color: $colorTitle;
    font-family: $fontTitle;
    font-size: 60px;
  }

  &__content {
    @include templateGrid(3, true);
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 40px;

    &-card {
      @include templateFlex(center, false);
      border-radius: 10px;
      box-shadow: 0 25px 30px -12px rgba(0, 0, 0, 0.6);
      position: relative;
    }

    .card {
      &__header {
        height: 100%;
        position: relative;

        &-name {
          position: absolute;
          background-color: #231f1f;
          width: 50px;
          text-align: center;
          font-size: 25px;
          opacity: 0;
          width: 100%;
          color: $colorSecundary;
          font-family: "Carrois Gothic SC", sans-serif;
          border-radius: 5px;
          transition: opacity 0.4s;
        }

        &:hover .card__header-name {
          opacity: 0.8;
          transition: opacity 0.4s;
        }
      }

      &__link {
        display: inline-block;
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          border-radius: 10px;
        }
      }
    }
  }
}

@media (max-width: 1399px) {
  .main__content {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .main__content {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .main__content {
    max-width: 720px;
    @include templateGrid(2, null);

    &-card {
      .card__header {
        &-name {
          opacity: .8;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main__content {
    max-width: 520px;
  }
}

@media (max-width: 530px) {
  .main__title {
    font-size: 55px;
  }

  .main__content {
    grid-template-columns: 1fr;
    max-width: 300px;
  }
}
