.body__nosotros {
  background-color: #fff;
}

.nosotros {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;

  &__title {
    margin-bottom: 40px;
    font-size: 60px;
    font-family: $fontTitle;
    text-transform: uppercase;
    text-align: center;
    color: $colorTitle;
  }

  &__content {
    &-text {
      font-family: "Chakra Petch", sans-serif;
      color: #000;
      font-size: 30px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 768px) {
  .nosotros {
    max-width: 650px;
    &__title {
      font-size: 40px;
    }

    &__content {
      text-align: justify;    
      
      &-text{
        font-size: 25px;
      }
    }
  }
}
