* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.body__generos {
  background-color: $colorSecundary;
}

body {
  background-image: url("../../assets/images/Art/backgroundArtist.jpeg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

//MIXINS

@mixin templateGrid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  @if ($gap == true) {
    gap: 20px;
  }
}

@mixin templateFlex($justify, $alignItems) {
  display: flex;
  justify-content: $justify;
  @if ($alignItems == true) {
    align-items: center;
  }
}
